.THIS {
    background-color: #fff;
    padding: 1rem;
}
.THIS.cover {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.THIS > div {
    position: relative;
    width: 100%;
}
.THIS.cover > div {
    height: 100%;
    position: relative;
}

.THIS iframe {
    width: 100%;
    border: 0;
}
.THIS.cover iframe {
    height: 100% !important;
}