.THIS .health1-inlineDisplay {
    display:inline-block;
}

.THIS .health1-PatientLabel{
	color:#006DD5;
	font-size: 0.9375rem;
}

.THIS .HcPicWidth {
    width: 3rem;
    border-radius: 50%;
    min-width: 3rem;
}

.THIS .hc-patient_name {
    display:flex; 
    align-items:center; 
    width: 100%;
}

.THIS .hc-patientInfo__icon {
    background-color: #A092F0;
}