.THIS.ast-container {
    position: relative;
    min-height: 4rem;
}

.THIS.ast-concreteBodyContainer {
    min-height: 0px;   
}

.THIS table thead th.ast-columnName {
    padding: 0px;
}

.THIS table thead th.ast-columnName.ast-DATETIME {
    width: 12rem;
}

.THIS .ast-noSort .slds-th__action {
    cursor: default;
}

.THIS table {
    min-height: 2.5rem;
}

.THIS .ast-sortIcon__container {
    float: left;
    margin-top: -1px;
	pointer-events: none;
}

.THIS .ast-viewMore__container {
    text-align: center;
    margin-top : 1rem;
    margin-bottom: 1rem;
}

.THIS .ast-viewMore__loading {
    height: 2rem;
    line-height: 2rem;
}

.THIS .ast-noItemsMessage {
    padding-top: 1rem;
}

.THIS table.slds-hide + .ast-noItemsMessage {
    top: 1rem;
}