.THIS .Healthcare-TextViewer-cDetail {
    font-weight: 400;
    width: auto;
    overflow-x: hidden;
    white-space: normal;
}

.THIS .Healthcare-TextViewer-truncateTxt {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.THIS .Healthcare-TextViewer-showmore {
    font-size: 12px;
    left: 30px;
}

.THIS .Healthcare-inlineBlock{
  display: inline-block;
}

.THIS .Healthcare-TextAlign-middle{
  vertical-align:middle;
}

.THIS .Healthcare-after::after{
    content: ": ";
    white-space: pre ;
}