/*
 * Copyright © 2015 salesforce.com, inc. All rights reserved.
 * @copyright This document contains proprietary and confidential information and shall not be reproduced,
 * transferred, or disclosed to others, without the prior written consent of Salesforce.
 * @description Controller for the patientDetailComponent
 * @since 196
*/

.THIS.hc-patientDetail {
    min-width: 17.25rem;
}

.THIS.hc-patientDetail .hc-patientDetail-card {
    margin-bottom: 0.75rem;
}

.THIS.hc-alohaPatientDetail .hc-patientDetail-card {
    margin: 0.75rem;
}

.THIS .slds-text-heading--label:hover,
.THIS .slds-text-heading--label:focus {
    text-decoration: none;
}

.THIS .slds-text-heading--label {
    outline: none;
}

.THIS .div[role=menu] {
    overflow-y: visible;
}

.THIS hr {
    margin-top: 1rem;
    margin-bottom: 0;
    color: #137CAD;
}

.THIS .column {
    width: 4.7rem;
}

.THIS hr:last-child {
    display: none;
}