.THIS .hc-progressBarTemplate {
	display: block;
    background-color: #d1dae3;
    border: 1px solid rgb(249, 250, 251);
    border-radius: 3rem;
    position: relative;
}

.THIS .hc-progressBar {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
    height: 100%;
    border-radius: 3rem;
}