.THIS .hc-actionMenu {
    position: absolute;
    margin-top: 0.5rem;
    right: 0rem;
}

.THIS .hc-taskFilters {
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
}

.THIS .hc-taskFilters > lightning-radio-group {
    padding-left: 0.5rem;
    padding-right: 2.5rem;
}

.THIS .hc-taskFilters lightning-radio-group label {
    white-space: nowrap;
}