.THIS .hc-paginator {
    display: flex;                  
    justify-content: space-between; 
    background-color: #F8F9FB;
    padding: 0.75rem 1rem;
}

.THIS .hc-paginator > div {
    min-width: 8rem;
    text-align: center;
}

.THIS .hc-paginator > div:first-child {
    text-align: left;
}

.THIS .hc-paginator > div:last-child {
    text-align: right;
}

.THIS .hc-paginator a:focus {
    text-decoration: none;
}