.THIS.hc-taskGroupPanel {
    border: 1px solid #d8dde6;
    border-radius: 0.25rem;
    margin-bottom: 0.75rem;
}

.THIS .taskGroup__mainheader {
    display: flex;
    align-items: flex-start;
    padding: 0.5rem 1rem;
    justify-content: space-between;
}

.THIS .taskGroup__mainheader.expanded {
    background-color: #f8f9fb;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.THIS .taskGroup__nameSection {
    display: flex;
}

.THIS .taskGroup__name {
    margin-top: 0.125rem;
}

.THIS .taskGroup__progress {
    align-self: center;
}

.THIS .hc-progressAndActions{
     display:flex;
}

.THIS.hc-taskGroupPanel table thead th:first-child {
    padding-left: 0.5rem;
}
.THIS .hc-taskGroupSortOrder {
    color: #65748e;
    font-weight: 700;
    border: 1px solid #e0e5ee;
    vertical-align: middle;
    margin-left:0.5rem;
    border-radius: initial;
    padding: 0.05rem 0.5rem;
}

.THIS.hc-taskGroupPanel table tbody td:first-child {
    padding-left: 1rem;    
}

.THIS .hc-paginator{
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}