.THIS.hc-goalsContainer {
    border-left: 1px solid #d8dde6;
    border-right: 1px solid #d8dde6;
    border-radius: 0.25rem;
    margin-bottom: 0.75rem;
}
.THIS.hc-goalPanel table thead th:first-child {
    padding-left: 0.5rem;
}
.THIS.hc-goalPanel table thead th{
    background-color: #f8f9fb;
}
.THIS.hc-goalPanel table tbody td:first-child {
    padding-left: 1rem;    
}
.THIS .hc-paginator{
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}