/* Workaround to avoid shrinkage of input field due to variant='label-hidden', 
   Remove this and HcAssistiveText once lightning:input supports info icon; */
.THIS .hc-lookup_input > label.slds-form-element__label,
.THIS .hc-lookup_input > div.slds-form-element__control {
    display: block;
}

.THIS .hc-lookup_errorText {
	color: red;
}