/* Copyright © 2015 salesforce.com, inc. All rights reserved.
 * @copyright This document contains proprietary and confidential information and shall not be reproduced,
 * transferred, or disclosed to others, without the prior written consent of Salesforce.
 * @description HcCarePlanTemplateContainerStyle.
 * @since 204
 */

.THIS.hc-carePlanTemplate .hc-navbar {
	display: flex;
    padding: .75rem 1rem;
    border-top: 1px solid rgb(221, 219, 218);
    border-bottom: 1px solid rgb(221, 219, 218);
    background-color: rgb(250, 250, 249);
}

.THIS.hc-carePlanTemplate .hc-navbar_next, 
.THIS.hc-carePlanTemplate .hc-navbar_apply {
    margin-left: auto;
}

.THIS .hc-carePlanTemplateTabset .slds-tabs--default__item {
    pointer-events: none;
}